<div class="ui segment">
  <div class="ui breadcrumb">
    {{link-to "Início" "index" class="section"}}
    <i class="right chevron icon divider"></i>
    {{link-to "Páginas" "pages.index" class="section"}}
    <i class="right chevron icon divider"></i>
    <a class="active section">Nova Página</a>
  </div>
</div>

<div class="ui segment">
  <h3>Nova página</h3>
  <div class="ui divider"></div>

  {{
    forms/page-form
      page=page
      save=(route-action "save")
  }}
</div>

